//----- colors ----- //

$color-primary:#4789f7;
$color-primary--light:#f2f4f5;
$color-secondary:#f44336;
$color-secondary--light:#fd9992;
$color-white: #fff;
$color-dark:#474b4f;
$color-gray:#bbb;
$color-gray--dark:#777;
$color-gray--light:#ebecec;

$border-color:#ddd;

$heading-1: 24px;
$heading-2:22px;
// ----- radius ----- //
$radius:4px;