.bg-light--primary{
    background-color: $color-primary--light;
}
.bg-light--secondary{
    background-color: $color-primary--light;
}
.bg-dark--primary {
    background-color: $color-dark;
    color: $color-white;
}